./mosquitto/log
./mosquitto/data
./edge-server/logs
./edge-server/etc/apache2/.htpasswd
neo4j/**/**/*
localstack/**/*
mysql/**/*
pipeline-simulation/**/*
pipeline-simulation-archive/**/*
rabbitmq/**/*
