<mat-card>
	<ph-pipeline-create></ph-pipeline-create>
</mat-card>

<mat-card>
	<mat-list *ngIf="getPipelines() | async as pipelines">
		<div mat-subheader>My Pipelines</div>
		<mat-list-item *ngFor="let pipeline of pipelines">
			<mat-icon mat-list-icon>account_tree</mat-icon>
			<div mat-line>
				<a [routerLink]="[pipeline.id]">{{pipeline.name}}</a>
			</div>
			<div mat-line> {{pipeline.createdOn | date: 'medium'}} </div>
			<a mat-button
				 matTooltip="Download as file"
				 [href]="getDownloadLink(pipeline.id)"
				 target="_blank" style="opacity: 0.66">
				<mat-icon>download</mat-icon>
			</a>
		</mat-list-item>

		<mat-list-item *ngIf="pipelines.length === 0">
			<p>You do not have any pipeline - select a template to get started.</p>
		</mat-list-item>
	</mat-list>
</mat-card>
