<mat-toolbar>
	<mat-toolbar-row>
		<button mat-raised-button color="accent"
						matTooltip="Create new empty pipeline"
						(click)="createNewPipeline()">
			<mat-icon>add</mat-icon>
			<span>New</span>
		</button>

		<button mat-button *ngIf="filterByUsernameLastValue" (click)="userNameFilter(undefined)"
						style="margin-left: 1em"
						[matTooltip]="'Only display pipelined for user ' + filterByUsernameLastValue">
			<mat-icon>account_circle</mat-icon>
			<span>User Filter</span>
		</button>

		<span style="margin: 0 auto"></span>

		<button mat-raised-button color="warn"
						[disabled]="selection.isEmpty()"
						(click)="deletePipelines(selection.selected)">
			<mat-icon>delete</mat-icon>
			<span>Delete</span>
		</button>
	</mat-toolbar-row>
</mat-toolbar>

<mat-card>
	<mat-progress-bar *ngIf="isLoadingResults"></mat-progress-bar>
	<div class="table-container">
		<table mat-table [dataSource]="data" class="example-table"
					 matSort matSortActive="CreatedOn" matSortDisableClear matSortDirection="desc">
			<!-- Checkbox Column -->
			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle() : null"
												[checked]="selection.hasValue() && isAllSelected()"
												[indeterminate]="selection.hasValue() && !isAllSelected()"
												[aria-label]="checkboxLabel()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()"
												(change)="$event ? selection.toggle(row) : null"
												[checked]="selection.isSelected(row)"
												[aria-label]="checkboxLabel(row)">
					</mat-checkbox>
				</td>
			</ng-container>

			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header="Name" style="width: 50%">Pipeline</th>
				<td mat-cell *matCellDef="let row" style="width: 50%">
					<a [routerLink]="[row.id]">{{row.name}}</a>
				</td>
			</ng-container>

			<!-- User Identifier Column -->
			<ng-container matColumnDef="userIdentifier">
				<th mat-header-cell *matHeaderCellDef mat-sort-header="UserIdentifier">User</th>
				<td mat-cell *matCellDef="let row">
					<button mat-button (click)="userNameFilter(row.userIdentifier)">
						{{row.userIdentifier}}
					</button>
				</td>
			</ng-container>

			<!-- CreatedOn Column -->
			<ng-container matColumnDef="createdOn">
				<th mat-header-cell *matHeaderCellDef mat-sort-header="CreatedOn" disableClear>
					Created
				</th>
				<td mat-cell *matCellDef="let row" [matTooltip]="row.createdOn | date: 'long'">
					{{row.createdOn | date}}
				</td>
			</ng-container>

			<!-- ChangedOn Column -->
			<ng-container matColumnDef="changedOn">
				<th mat-header-cell *matHeaderCellDef mat-sort-header="ChangedOn" disableClear>
					Modified
				</th>
				<td mat-cell *matCellDef="let row" [matTooltip]="row.changedOn | date: 'long'">
					{{row.changedOn | date}}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

	<mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
	<!-- Legacy List View -->
	<!--<mat-list *ngIf="getPipelines() | async as pipelines">
		<div mat-subheader>My Pipelines</div>
		<mat-list-item *ngFor="let pipeline of pipelines">
			<mat-icon mat-list-icon>account_tree</mat-icon>
			<div mat-line>
				<a [routerLink]="[pipeline.id]">{{pipeline.name}}</a>
			</div>
			<div mat-line> {{pipeline.createdOn | date: 'medium'}} </div>
			<ph-pipeline-export style="opacity: 0.66" [pipelineId]="pipeline.id" [compact]="true"></ph-pipeline-export>
		</mat-list-item>

		<mat-list-item *ngIf="pipelines.length === 0">
			<p>You do not have any pipeline - select a template to get started.</p>
		</mat-list-item>
	</mat-list>-->
</mat-card>

<div class="import-cards">
	<mat-card>
		<ph-pipeline-create></ph-pipeline-create>
	</mat-card>
	<mat-card>
		<ph-files-upload [uploadText]="'Drop an pipeline file here.'"
										 [uploadFunction]="uploadFunction"
										 (uploaded)="onPipelineImported($event)"></ph-files-upload>
	</mat-card>
</div>

