<mat-card>
	<div class="mat-card-header">
		<ph-pipeline-title *ngIf="pipelineInfoDto" [pipeline]="pipelineInfoDto"></ph-pipeline-title>
		<mat-icon [matTooltip]="'Select a node to add a new operation.\n Use cmd + click to select multiple nodes.'">
			help
		</mat-icon>
	</div>
	<mat-card-content>
		<mat-tab-group>
			<mat-tab label="Operations">
				<!-- Operations Search Bar -->
				<mat-form-field class="search-field" appearance="fill">
					<mat-icon matPrefix>search</mat-icon>
					<mat-label>Search for operations</mat-label>
					<input matInput type="text"
								 (keyup)="onSearchTextChange(operationSearchText.value)"
								 autocomplete="off" #operationSearchText>
					<button *ngIf="operationsSearchText" matSuffix mat-icon-button aria-label="Clear"
									(click)="operationSearchText.value = ''; onSearchTextChange('')">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
				<ng-container *ngIf="$selectedOperations | async as selectedOperations">
					<ng-container *ngFor="let selectedOperation of selectedOperations">
						<div *ngIf="selectedOperation.outputs.length > 1"
								 aria-label="Select an datatype"
								 matTooltip="Select the operation result that should be used for the next operation.">
							<b>
								{{selectedOperation.label}}
							</b>
							<ng-container *ngFor="let output of selectedOperation.outputs">
								<input type="radio" [id]="output.key" name="fav_language" [value]="output">
								<label [for]="output.key">Type {{output.type}}</label>
							</ng-container>
						</div>
					</ng-container>
				</ng-container>
				<!-- Operations -->
				<div class="scrollable-content-wrapper">
					<ng-container *ngIf="getOperationTemplates() | async as operationTemplateGroups">
						<mat-action-list *ngFor="let operationsGroup of operationTemplateGroups"
														 [disabled]="selectedOperationIds.length === 0">
							<div mat-subheader>{{operationsGroup.sectionTitle ?? 'Operations'}}</div>
							<ng-container *ngFor="let operation of operationsGroup.operations">
								<button mat-list-item (click)="onAddNode(operation)" [matTooltip]="operation.description">
									<mat-icon mat-list-icon>add_circle_outline</mat-icon>
									<span mat-line>{{operation.operationName}}</span>
									<span style="opacity: 0.5" mat-line>{{operation.operationFullName}}</span>
									<a *ngIf="operation.framework === 'pandas'"
										 target="_blank"
										 [href]="'https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.' +operation.operationName +'.html'">Docs</a>
								</button>
							</ng-container>
						</mat-action-list>
					</ng-container>
				</div>
			</mat-tab>

			<mat-tab label="Files">
				<!-- Files Search Bar -->
				<mat-form-field class="search-field" appearance="fill">
					<mat-icon matPrefix>search</mat-icon>
					<mat-label>Search for files</mat-label>
					<input matInput type="text" [(ngModel)]="filesSearchText" autocomplete="off">
					<button *ngIf="filesSearchText" matSuffix mat-icon-button aria-label="Clear" (click)="filesSearchText=''">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
				<!-- File -->
				<mat-action-list *ngIf="getUserFiles() | async as userFiles" class="scrollable-content-wrapper">
					<ng-container *ngFor="let userFile of userFiles">
						<button mat-list-item *ngIf="showFile(userFile)" (click)="addFile(userFile)">
							<mat-icon mat-list-icon>note</mat-icon>
							<div mat-line>
								<span>{{userFile.fileName}}</span>
							</div>
							<div mat-line>
								<span>{{userFile.lastModified | date: 'MMM dd, YYYY, HH:mm'}}</span>
							</div>
						</button>
					</ng-container>
				</mat-action-list>
			</mat-tab>
		</mat-tab-group>

		<!-- Other Actions -->
		<mat-toolbar>
			<mat-toolbar-row>
				<button mat-stroked-button color="warn"
								[disabled]="selectedOperationIds.length === 0"
								(click)="onRemoveNodes()">
					<mat-icon>
						remove_circle_outline
					</mat-icon>
					<span>
            Remove
          </span>
				</button>
			</mat-toolbar-row>
		</mat-toolbar>
	</mat-card-content>
</mat-card>
