mat-card-content {
}

mat-card-footer {
	padding: 0 1em;
}

.scrollable-content-wrapper {
	height: 300px;
	overflow: auto;
}

.search-field {
	width: 100%;
}

ph-pipeline-title {
	width: 100%;
}

.output-selection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
