<ng-container *ngIf="nodeIds">
  <ng-container *ngFor="let nodeId of nodeIds">
    <mat-card *ngIf="getConfig(nodeId) | async as config">
      <mat-card-header>
        <mat-card-title>
          Node Configuration
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit(nodeId, config)">
          <ng-container *ngFor="let tuple of config | keyvalue">
            <mat-form-field appearance="fill">
              <mat-label>{{tuple.key}}</mat-label>
              <input matInput autocomplete="off" [value]="tuple.value" (change)="config[tuple.key] = i.value" #i>
            </mat-form-field>
          </ng-container>
          <button mat-raised-button type="submit" color="primary">Save</button>
        </form>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>
