.grid-container {
	display: grid;
	grid-row-gap: 16px;
	grid-template:
    "h h h" auto
    "v v t" auto
    "p p c" auto
    "f f f" auto
    / 1fr 1fr 1fr;
	margin-bottom: 1em;
}

.grid-container > * {
	margin: 0 0.5em;
}

.grid-container > mat-toolbar {
	margin: 0;
}

mat-toolbar {
	grid-area: h;
}

ph-pipeline-node-view {
	grid-area: v;
}

ph-pipeline-toolbox {
	grid-area: t;
}

ph-operation-config-editor {
	grid-area: c;
}

ph-operation-result-preview {
	grid-area: p;
}

ph-pipeline-execution-log {
	grid-area: f;
}

@media screen and (max-width: 415px) {
	.grid-container {
		display: flex;
		flex-wrap: wrap;
	}

	.grid-container > * {
		width: 100%;
		margin: 0 0.5em;
	}

	.grid-container > mat-toolbar {
		margin: 0;
	}

	ph-pipeline-node-view {
		height: 350px;
	}
}
