<ng-container *ngIf="getId() | async as id">
  <div *ngIf="getPipeline(id) | async as pipeline" class="grid-container">

    <mat-toolbar>
      <button mat-raised-button (click)="executePipeline(id)" color="accent">
        <mat-icon>play_arrow</mat-icon>
        <span>Execute Pipeline</span>
      </button>
    </mat-toolbar>

    <ph-pipeline-node-view [pipelineId]="pipeline.id"
                           (onSelectedNodeIdsChange)="toolbox.selectedNodeIds = $event"></ph-pipeline-node-view>
    <ph-pipeline-toolbox [subtitle]="pipeline.name"
                         #toolbox></ph-pipeline-toolbox>
    <ph-pipeline-execution-log [pipelineId]="pipeline.id"></ph-pipeline-execution-log>

  </div>

</ng-container>
