<ng-container *ngIf="getId() | async as id">
	<div *ngIf="getPipeline(id) | async as pipeline; else notFound" class="grid-container">

		<mat-toolbar>
			<button mat-raised-button (click)="executePipeline(id)" color="accent">
				<mat-icon>play_arrow</mat-icon>
				<span>Execute Pipeline</span>
			</button>
		</mat-toolbar>

		<ph-pipeline-node-view [pipelineId]="pipeline.id"
													 (selectedNodeIdsChange)="toolbox.selectedOperationIds = $event; operationResultPreview.operationIds = $event; operationConfigEditor.operationIds = $event"
													 #pipelineNodeView></ph-pipeline-node-view>

		<ph-pipeline-execution-log [pipelineId]="pipeline.id"></ph-pipeline-execution-log>

		<ph-pipeline-toolbox [pipelineId]="pipeline.id"
												 [subtitle]="pipeline.name"
												 (pipelineChanged)="pipelineNodeView.displayPipeline($event);"
												 #toolbox></ph-pipeline-toolbox>

		<ph-operation-result-preview [pipelineId]="pipeline.id"
																 #operationResultPreview></ph-operation-result-preview>

		<ph-operation-config-editor [pipelineId]="pipeline.id"
																#operationConfigEditor></ph-operation-config-editor>
	</div>

</ng-container>

<ng-template #notFound>
	<mat-card style="margin: 1em">
		<p>This pipeline does not exist</p>
		<p>
			<a routerLink="/pipeline">Go Back</a>
		</p>
	</mat-card>
</ng-template>
