<mat-card>
  <mat-card-title>
    Execution Log
  </mat-card-title>

  <mat-card-content *ngIf="executionEvents(pipelineId) | async as events">
    <mat-list>
      <mat-list-item *ngFor="let e of events">
        {{e.Successful ? 'Success' : 'Failed'}} {{e.ExecutionTime}}
      </mat-list-item>
    </mat-list>
    <ng-container *ngIf="getLast(events) as last">
      <mat-progress-bar
        class="example-margin"
        [mode]="'buffer'"
        [value]="progressValue(last)"
        [bufferValue]="bufferValue(last)">
      </mat-progress-bar>
    </ng-container>

  </mat-card-content>

</mat-card>
