<header>
	<mat-toolbar color="primary" class="mat-elevation-z4">
		<mat-toolbar-row class="nav-row">
			<nav>
				<a mat-icon-button routerLink="/pipeline">
					<mat-icon>home</mat-icon>
				</a>
			</nav>
			<nav>
				<a mat-stroked-button routerLink="/files">
					Files
				</a>
			</nav>
			<ph-status-bar style="margin-left: auto"></ph-status-bar>

			<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navigation Menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item disabled>
					<ph-username></ph-username>
				</button>

				<button mat-menu-item [matMenuTriggerFor]="services">
					<mat-icon>settings_applications</mat-icon>
					<span>Services</span>
				</button>

				<a routerLink="admin" mat-menu-item>
					<mat-icon>admin_panel_settings</mat-icon>
					<span>Admin</span>
				</a>
				<a routerLink="settings" mat-menu-item>
					<mat-icon>settings</mat-icon>
					<span>Settings</span>
				</a>
			</mat-menu>

			<!-- Services Submenu -->
			<mat-menu #services="matMenu">
				<a [href]="getMlflowUrl()" target="_blank" mat-menu-item>
					<mat-icon>web</mat-icon>
					<span>MLflow</span>
				</a>
				<a [href]="getDatasetUrl()" target="_blank" mat-menu-item>
					<mat-icon>data_object</mat-icon>
					<span>Dataset Service</span>
				</a>
				<a [href]="getHangfireUrl()" target="_blank" mat-menu-item>
					<mat-icon>pending_actions</mat-icon>
					<span>Hangfire</span>
				</a>
				<a [href]="getAdminerUrl()" target="_blank" mat-menu-item>
					<mat-icon>save</mat-icon>
					<span>Adminer</span>
				</a>
				<a [href]="getRabbitMqUrl()" target="_blank" mat-menu-item>
					<mat-icon>cloud_queue</mat-icon>
					<span>RabbitMQ</span>
				</a>
			</mat-menu>
		</mat-toolbar-row>
	</mat-toolbar>
</header>


<mat-divider></mat-divider>

<main>
	<router-outlet></router-outlet>
</main>

<footer>
	<mat-toolbar>
		<p style="font-size: 0.75em; font-weight: normal; opacity: 0.75; margin: 0">
			<span>
				Project Hanse {{ getYear() | date: 'yyyy' }}
			</span>
			<span *ngIf="!isProd()">&nbsp;-&nbsp;Dev</span>
		</p>
	</mat-toolbar>
</footer>
