<div class="container">
	<ph-files-upload (fileUploaded)="onFileUploaded($event)"></ph-files-upload>

	<mat-card style="margin-top: 1em">
		<mat-list *ngIf="getUserFiles() | async as userFiles">
			<div mat-subheader>
				<span>My Files</span>
			</div>
			<ph-file-info-list [userFiles]="userFiles" [toReadablyBytes]="toReadablyBytes"></ph-file-info-list>
		</mat-list>
		<mat-list *ngIf="getDefaultFiles() | async as defaultFiles">
			<div mat-subheader>
				<span>Public Default Files</span>
				<span>&nbsp;</span>
				<a *ngIf="localProd" href="http://localhost:4566/defaultfiles/?Marker=0" target="_blank">S3 Bucket</a>
			</div>
			<ph-file-info-list [userFiles]="defaultFiles" [toReadablyBytes]="toReadablyBytes"></ph-file-info-list>
		</mat-list>
	</mat-card>
</div>
